<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secretbiology.arcade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appsetup.Login"
            android:theme="@style/RegularTheme" />
        <activity
            android:name=".appsetup.FirstTimeUser"
            android:theme="@style/RegularTheme" />
        <activity android:name=".appsetup.lobby.GameLobby" />

        <service
            android:name=".backgroud.SyncService"
            android:exported="false" />

        <activity android:name=".appsetup.dashboard.Dashboard" />
        <activity android:name=".appsetup.setup.GameSetup"></activity>
    </application>

</manifest>